{% extends "header.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h4 class="text-center">Welcome to Tracker!</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="text-center">This site's goal is to help you monitor your time spent online.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="text-center"><a href="/login/">Login</a> or <a href="/register/">Register</a></p>
    </div>
</div>
{% endblock %}