{% extends "header.html" %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <form action="" class="form-inline" method="POST" data-toggle="validator" role="form">
            <p class="text-center"><input type="email" class="form-control" placeholder="Email" name="email" required></p>
            <p class="text-center"><input type="password" class="form-control" placeholder="Password" name="password" id="pw" required></p>
            <p class="text-center"><input type="password" class="form-control" placeholder="Confirm" name="confirm" id="cf" required></p>
            <p class="text-center"><input type="text" class="form-control" placeholder="Steam ID (optional)" name="Steam_id" id="Steam_id"></p>
            <p class="text-center"><input type="text" class="form-control" placeholder="Steam Time Cap (optional)" name="Steam_limit" id="Steam_limit"></p>
            <br>
            <p class="text-center"><input class="btn" type="submit" value="Register" style="background-color: #5e749a; color: white"></p>
        </form>
    </div>
</div>

{% endblock %}